{% extends 'scores_app/main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>

</body>
</html>
{% block body %}
<div class="my_table">
<table style="text-align: center;" class=" table-bordered table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Release Year</th>
      <th scope="col">Category</th>
      <th scope="col">Content type</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
   {% for content in games_list %}
  <tbody>
    <tr>
      <th style="width: 10%" scope="row">{{content.id}}</th>
      <td style="width: 23%">{{content.name}}</td>
      <td style="width: 20%">{{content.release_year}}</td>
      <td style="width: 20%">{{content.category}}</td>
      <td style="width: 20%">{{content.content_type}}</td>
       <td style="width: 10%">{{content.score}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}