{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<div class="category_buttons">
<button type="button" style="width: 100px" class="btn btn-secondary"  onclick="window.location.href = '{% url 'movies_list' %}'">Movies</button>
<button type="button" style="width: 100px" class="btn btn-secondary"  onclick="window.location.href = '{% url 'games_list' %}'">Games</button>
<button type="button" style="width: 100px" class="btn btn-secondary"  onclick="window.location.href = '{% url 'series_list' %}'">Series</button>
</div>
{% block body %}

{% endblock %}